
body {
    background-color: lightcoral;
}

ul {
    display: flex;
    justify-content: end;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {

}

#Overskrift {
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    color: green;
}